<div class="container-big-card">
  <div class="big-card-photo">
    <img
      src="https://i.stack.imgur.com/luaq2.png"
      alt="imagem"
      height="200px"
      srcset=""
    />
  </div>
  <div class="big-card-title">
    <h1> <a href="#"> Saiu a nova versão do Angular</a></h1>
  </div>
  <div class="big-card-description">
    <p> <a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit enim, ipsa asperiores aperiam laboriosam fuga unde magni! Tempora, ullam sed quidem, corporis sunt distinctio reprehenderit id fugiat nesciunt, asperiores libero. </a></p>
  </div>
</div>
