.container_small-card{
    width: 700px;
    margin-bottom: 15px;
   
}

.container_small-card-content{
    display: flex;
    flex-direction: row;
}

.small-card_photo > img{
    width: 100px;
    min-width: 200px;
    margin-right: 20px;
}
.small-card-title > h1 > a{     
    font-size: 1.6rem;
    margin-left: 5px;
}
.small-card-title > h1 > a:hover{
    color: #f9b6b6;
}
img{
    height: 100px;
    width: 200px;
}

p{
    margin-left: 15px;
    color: grey;
}

hr{
    margin-top: 10px;
}
